@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* SOLUTION ATTEMPT 1: */

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

a {
  padding: 8px;
  color: #667;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 15px;
}

.footer, .header, .content {
  display: flex;
  
  justify-content: center;
}

.header, .footer {
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee
}

.content {
  flex-direction: column;
  align-items: center;
}

.header {

}

button {
  content: auto;;
  padding: 8px 16px;
}


